<div class="row justify-content-center">
        <div class="card-body">
                    <br/>
            <div *ngFor="let produit of produits" class="card mx-auto">
                    <div class="card-text ">
                        {{produit['nom']}} 
                        <br/>
                        Prix : {{produit['prix']}} €
                        <br/>
                        {{produit['type']}} - Auteur : {{produit['auteur']}}
                        <br/>
                        Année : {{produit['publication']}} 
                        <div *ngIf="(user|async)" class="justify-content-center"> <br/> <button type="button" class="btn btn-primary">Ajouter au panier</button> </div>
                    </div>
                    <br/>
            </div>
            <br/>
        </div>
    </div>